In [1]:
import pandas as pd

C:\Users\dell\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\dell\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\dell\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df=pd.read_csv("movies.csv")

In [3]:
df.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df.columns.unique()

Index(['movieId', 'title', 'genres'], dtype='object')

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
genres = df['genres'].str.split('|')
genres_list = genres.apply(lambda x: ' '.join(x))
vectorizer = CountVectorizer()
genre_matrix = vectorizer.fit_transform(genres_list)
cosine_sim = cosine_similarity(genre_matrix, genre_matrix)

In [6]:
def get_similar_movies(movie_title, top_n=6):
    movie_index = df[df['title'] == movie_title].index[0]
    similarity_scores = list(enumerate(cosine_sim[movie_index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    top_movies_indexes = [i[0] for i in similarity_scores[1:top_n+1]]
    return df['title'].iloc[top_movies_indexes]

In [10]:
# Test the model
similar_movies = get_similar_movies('Toy Story (1995)', top_n=6)
print(similar_movies)

1706                                       Antz (1998)
2355                                Toy Story 2 (1999)
2809    Adventures of Rocky and Bullwinkle, The (2000)
3000                  Emperor's New Groove, The (2000)
3568                             Monsters, Inc. (2001)
6194                                  Wild, The (2006)
Name: title, dtype: object