In [1]:
import json
import pandas as pd
import numpy as np

In [13]:
# convert json to pandas dataframe
path = 'user_id_map.json'
with open(path, 'r') as f:
    user_id_map = json.load(f)
user_id_map = pd.DataFrame(user_id_map.keys(), columns=['userid'])
user_id_map['userid'] = user_id_map['userid'].astype(str)
user_id_map = user_id_map[['userid']].reset_index()
user_id_map

         index  userid
0            0       1
1            1       2
2            2       3
3            3       4
4            4       5
...        ...     ...
330970  330970  330971
330971  330971  330972
330972  330972  330973
330973  330973  330974
330974  330974  330975

[330975 rows x 2 columns]

In [14]:
# save to csv
user_id_map.to_csv('user_id_map.csv', index=False)